html {
    height: 100vh;
    background-color: #ffe8d2;
}

body {
    height: 100%;
    background-color: #ffcb9a;
}

* {
    font-size: large;
}

footer {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 10px;
}

@font-face {
    font-family: moontime;
    src: url("../fonts/MoonTime-Regular.otf");
    unicode-range: U+00A0-00FF;
}

div#container {
    height: 100vh;
    background-color: white;
}


div#container > img {
    margin:auto;
}


div.content {
    margin-top: 10px;
    margin-bottom: 55px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(255,255,255);
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 75vw;
}

section {
    padding-top: 50px;
    margin-left: 75px;
    margin-right: 75px;
}

div#first-content {
    margin-top: 0px;
}

div#last-content {
    margin-bottom: 155px;
}

div#fale-conosco {
    margin-bottom: 150px;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
}

div#form-button {
    text-align: end;
}

div.img-content > img {
    width: 350px;
    height: 350px;
    object-fit: contain;
    border-radius: 100%;
}

div.right-text{
    text-align: end;
}

a.link {
    color: black;
    text-decoration: none;
}

section {
    background-color: transparent;
}

h3 {
    text-align: center;
    margin-bottom: 15px;
}

header {
    background-color: white;
}


.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}









